In [1]:
import pandas as pd

# Merge Datasets

In [2]:
df_simd = pd.read_csv("data/simd_2020_ward.csv", index_col=0)
df_stopsearch = pd.read_csv("data/stop_search_clean.csv", index_col=0)
df_stopsearch = df_stopsearch.rename(columns={"Multi Member Ward":"ward_code"})

In [3]:
df_simd

,ward_code,Total_population,Working_Age_population,income_count,employment_count,CIF,ALCOHOL,DRUG,SMR,DEPRESS,...,drive_secondary_log,PT_GP_log,PT_post_log,PT_retail_log,income_count_log,crime_count_log,overcrowded_count_log,nocentralheating_count_log,broadband_log,employment_count_log
0,S13002516,6111.0,3478.0,94.042710,41.328261,110.153003,114.805433,22.790542,99.169039,0.192381,...,1.861645,2.364030,2.111589,2.326614,4.543749,3.048586,3.984416,3.407136,-1.953759,3.721547
1,S13002517,6401.0,3714.0,58.595376,26.339166,81.617716,103.080769,23.825808,98.061084,0.180906,...,3.083163,2.650223,2.333762,3.391365,4.070656,1.926900,4.059314,3.414132,-1.024323,3.271057
2,S13002518,7484.0,4464.0,65.432122,32.331908,75.618653,86.048503,12.591796,95.996526,0.178457,...,2.746779,2.998720,2.704888,2.908602,4.181013,2.679747,3.869936,3.588713,-1.654972,3.476055
3,S13002519,10481.0,6494.0,64.697548,31.658334,84.460452,134.482969,85.785898,97.371625,0.173713,...,2.850580,2.770928,2.313961,3.026810,4.169723,3.080028,4.209469,3.694879,-1.634948,3.455001
4,S13002520,9696.0,5910.0,49.884076,24.288057,67.383973,85.330239,38.025268,92.584158,0.162376,...,3.196615,3.205473,2.765770,3.605792,3.909702,2.471149,4.069133,3.593780,-1.069381,3.189985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,S13003130,18858.0,11720.0,153.301251,72.150069,148.231255,131.371726,157.648425,115.093965,0.227230,...,1.918050,1.955728,1.772123,2.103640,5.032405,3.143227,4.459450,1.218346,-3.423195,4.278748
350,S13003131,15463.0,9612.0,81.039578,42.541939,94.643342,92.741512,63.888573,98.839035,0.208104,...,2.632301,2.202492,1.960054,3.167267,4.394938,2.421498,4.001031,1.582831,-2.759076,3.750490
351,S13003132,13914.0,8370.0,45.238393,21.749677,53.283743,24.894064,52.205476,70.934670,0.144314,...,1.939889,2.613216,2.377640,2.740996,3.811946,2.008480,3.588450,2.454442,-1.445749,3.079599
352,S13003133,20841.0,13802.0,210.784895,100.173696,195.468787,180.169810,148.566048,145.464373,0.247953,...,1.640706,2.085271,2.020103,2.371261,5.350838,3.536136,5.127464,3.393354,-3.276416,4.606906
353,S13003134,11623.0,7341.0,69.253807,36.872494,91.343887,63.573088,33.734062,83.069259,0.175682,...,1.820125,2.234462,2.422094,3.228385,4.237778,2.589817,4.249520,1.714392,-3.585230,3.607466

In [4]:
df_stopsearch

,ward_code,Year,Month,Day of the Week,Time of the Day,Search Result,Nominal Age,Ethnic Group,Receipt Issued,Desc Drugs Found_Class B,...,Search Reason Code_10.0,Search Reason Code_11.0,Search Reason Code_12.0,Search Reason Code_14.0,Search Reason Code_17.0,Search Reason Code_19.0,Search Reason Code_20.0,Search Reason Code_21.0,Search Reason Code_22.0,Search Reason Code_23.0
0,S13002838,2020,December,Thursday,14:00:00,1,38,8,1,1,...,0,0,0,0,0,0,0,0,0,0
1,S13002839,2020,December,Thursday,08:20:00,1,38,2,1,1,...,0,0,0,0,0,0,0,1,0,0
2,S13002839,2020,December,Thursday,08:20:00,1,39,2,1,1,...,0,0,0,0,0,0,0,1,0,0
3,S13002842,2020,December,Thursday,03:30:00,0,28,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,S13002837,2020,December,Thursday,02:40:00,0,30,6,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75191,S13002891,2019,November,Saturday,18:00:00,0,46,1,1,0,...,0,0,0,0,0,0,0,0,0,0
75192,S13002891,2019,November,Saturday,18:00:00,0,44,1,1,0,...,0,0,0,0,0,0,0,0,0,0
75193,S13002891,2019,November,Saturday,18:00:00,1,43,1,1,1,...,0,0,0,0,0,0,0,0,0,0
75194,S13002767,2019,July,Tuesday,20:00:00,1,29,1,1,1,...,0,0,0,0,0,0,0,0,0,0
75195,S13002891,2019,May,Monday,23:33:00,0,49,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df = df_stopsearch.merge(right=df_simd, how="left", on="ward_code", validate="many_to_one")

In [6]:
df

,ward_code,Year,Month,Day of the Week,Time of the Day,Search Result,Nominal Age,Ethnic Group,Receipt Issued,Desc Drugs Found_Class B,...,drive_secondary_log,PT_GP_log,PT_post_log,PT_retail_log,income_count_log,crime_count_log,overcrowded_count_log,nocentralheating_count_log,broadband_log,employment_count_log
0,S13002838,2020,December,Thursday,14:00:00,1,38,8,1,1,...,1.489568,2.061495,1.946146,2.129542,4.922657,3.453768,5.086160,2.013048,-4.563895,4.192729
1,S13002839,2020,December,Thursday,08:20:00,1,38,2,1,1,...,1.326461,2.178974,2.020097,2.234681,4.712717,3.680347,4.834558,2.505479,-4.040199,4.075741
2,S13002839,2020,December,Thursday,08:20:00,1,39,2,1,1,...,1.326461,2.178974,2.020097,2.234681,4.712717,3.680347,4.834558,2.505479,-4.040199,4.075741
3,S13002842,2020,December,Thursday,03:30:00,0,28,1,1,0,...,1.470284,1.662211,1.904576,1.949496,4.428086,4.067804,5.378811,3.696597,-2.268929,4.119659
4,S13002837,2020,December,Thursday,02:40:00,0,30,6,1,0,...,1.832955,2.183988,2.182859,2.800016,4.404374,3.088282,4.420890,1.903505,-3.156131,3.777186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74404,S13002891,2019,November,Saturday,18:00:00,0,46,1,1,0,...,2.436077,2.427723,2.244304,2.647917,4.220541,2.789721,3.846273,2.622572,-1.652526,3.288340
74405,S13002891,2019,November,Saturday,18:00:00,0,44,1,1,0,...,2.436077,2.427723,2.244304,2.647917,4.220541,2.789721,3.846273,2.622572,-1.652526,3.288340
74406,S13002891,2019,November,Saturday,18:00:00,1,43,1,1,1,...,2.436077,2.427723,2.244304,2.647917,4.220541,2.789721,3.846273,2.622572,-1.652526,3.288340
74407,S13002767,2019,July,Tuesday,20:00:00,1,29,1,1,1,...,2.106138,2.611799,2.497561,2.726837,4.275863,2.668607,3.938188,3.164073,-1.661652,3.463152
74408,S13002891,2019,May,Monday,23:33:00,0,49,1,1,0,...,2.436077,2.427723,2.244304,2.647917,4.220541,2.789721,3.846273,2.622572,-1.652526,3.288340